@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: 'Notable', sans-serif;
  background-color: #fafafa;
}

body {
  display: flex;
  justify-content: center;
}